package {{ package }}dal.persistence;

import com.heilan.commons.mapper.HLMapper;
import {{ package }}.entity.{{ table.class_name }};

public interface {{ table.class_name }}Mapper extends HLMapper<{{ table.class_name }}> {
}